<h1>Show de la liste</h1>
<h2><%= @list.name %></h2>
<%= raise %>
<% if @list.name == "Films" && @list.movies != [] %>
  <ul>
    <li>
      <% @list.movies each do |movie| %>
        <p>titre : <%= movie.title %></p>
        <p>réalisateur : <%= movie.director %></p>
        <p>photo : <%= movie.image_url %></p>
        <ul>
          <p>voir en stremaing :</p>
          <li>
            <% movie.stream_options each do |stream_option| %>
            <%= stream_option %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>
  </ul>
<% else %>
  <p>Vous n'avez pas encore de <%= @list.name.downcase %> dans votre liste !</p>
<% end %>
