<div class="container">
  <%= simple_form_for @recommendation do |f| %>
  <%= f.input :movie_id, value: @movie %>
  <%= f.input :friend, value: @friend  %>
  <%= f.input :comment %>
  <%= f.submit "Ajouter à ma liste", class: "btn-submit" %>
  <% end %>
</div>
