<div class="container">
  <%= simple_form_for @recommendation do |f| %>
    <%if @recommendation.viewed == false%>
      <%= f.input :friend %>
      <%= f.input :comment %>
    <% else%>
      <%= f.input :feedback_content %>
      <%= f.input :feedback_rating %>
    <% end %>
      <%= f.submit "Enregistrer", class: "btn-submit" %>
  <% end %>
  <div class="my-4">
    <%= link_to "Retour", recommendations_path, class:"text-decoration-none buttons" %>
  </div>
</div>
