<div class="container">
  <div class="navbar-index sticky-top d-flex justify-content-between align-items-center px-1">
    <%= link_to :back, class:"text-decoration-none button-navigation me-1" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h2 class="titre-index me-auto m-0 mx-1">Films à voir</h2>
    <%= link_to root_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to new_recommendation_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-search"></i>
    <% end %>
    <%= link_to new_recommendation_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="wrapper">
    <%@recommendations.select do |recommendation| if recommendation.viewed == false%>
    <div class="cards" style="max-width: 540px;">
      <%= link_to recommendation_path(recommendation), class:"text-decoration-none" do%>
        <div class="image-card">
        <% if recommendation.movie.image_url.start_with?("http") %>
          <%= image_tag recommendation.movie.image_url, alt: "Poster", class: "img-fluid img-index" %>
        <% elsif recommendation.movie.image_url.start_with?("..//assets/images/") %>
          <%= image_tag recommendation.movie.image_url.gsub("..//assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
        <% else %>
          <%= image_tag recommendation.movie.image_url.gsub("../assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
        <% end %>
      <%end %>
          <%# <%= image_tag recommendation.movie.image_url, alt: "Poster", class: "img-fluid" %>
        </div>
        <div>
          <h5 class="card-title"><%=recommendation.movie.title %></h5>
        </div>
        <div>
          <p class="card-text">Recommandé par: <%=recommendation.friend%></p>
        </div>
        <div>
          <p class="card-text">Ajouté le: <%=recommendation.created_at.strftime("%d/%m/%Y")%></p>
        </div>
      <% end %>
    </div>
    <%end%>
  </div>
  <div class="d-flex justify-content-around my-4">
    <div>
      <%= link_to "Recherchés", searched_recommendations_path, class:"text-decoration-none buttons" %>
    </div>
        <div>
      <%= link_to "Films vus", viewed_recommendations_path, class:"text-decoration-none buttons" %>
    </div>
  </div>
</div>
