<div class="container">
  <h1>Ajouter une reco</h1>
  <div data-controller="search-movies">
    <div class="search-target">
      <%= form_with url: new_recommendation_path, method: :get, html: { data: { search_movies_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: 'Type a movie title',
                        value: params[:query],
                        data: {
                            search_movies_target: 'input',
                            action: 'keyup->search-movies#update'
                          } %>
      <% end %>
      <%= render 'movie_list', movies: @movies %>
    </div>
    <div data-action="pick-movie@window->search-movies#createmovie form-reco">
      <%= simple_form_for @recommendation do |f| %>
      <%= f.input :movie_id, label: false, input_html: { class: "d-none", data: { search_movies_target: 'movie' }} %>
      <%= f.input :friend, collection: @friends %>
      <%= f.input :comment %>
      <%= f.submit "Ajouter à ma list", class: "btn-submit" %>
      <% end %>
    </div>
  </div>
  <div class="my-4">
    <%= link_to "Retour", recommendations_path, class:"text-decoration-none buttons" %>
  </div>
  <%= render 'movie_list', movies: @movies %>
</div>
