<div class="container">
  <div class="navbar-index sticky-top d-flex justify-content-between align-items-center px-1">
    <%= link_to :back, class:"text-decoration-none button-navigation me-1" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h2 class="titre-index me-auto m-0 mx-1">Ajouter une reco</h2>
    <%= link_to root_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to new_recommendation_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-search"></i>
    <% end %>
    <%= link_to new_recommendation_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div data-controller="search-movies">
    <div class="search-target">
      <p style="color: red"><%= flash.notice %><p>
      <%= form_with url: new_recommendation_path, method: :get, html: { data: { search_movies_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: 'Type a movie title',
                        value: params[:query],
                        data: {
                            search_movies_target: 'input',
                            action: 'keyup->search-movies#update'
                          } %>
      <% end %>
      <%= render 'movie_list', movies: @movies %>
    </div>
    <div data-action="pick-movie@window->search-movies#createmovie form-reco">
      <%= simple_form_for @recommendation do |f| %>
      <%= f.input :movie_id, label: false, input_html: { class: "d-none", data: { search_movies_target: 'movie' }} %>
      <%= f.input :friend %>
      <%= f.input :comment %>
      <%= f.submit "Ajouter à ma liste", class: "btn-submit" %>
      <% end %>
    </div>
  </div>
  <%= render 'movie_list', movies: @movies %>
</div>
