  <div class="col-12 col-md-6">
    <div class="card card-show" style="width: 100%;">
      <h2><%= @recommendation.movie.title %></h2>
      <% if @recommendation.movie.image_url.start_with?("http") %>
        <%= image_tag @recommendation.movie.image_url, alt: "Poster", class: "img-fluid"  %>
      <% elsif @recommendation.movie.image_url.start_with?("..//assets/images/") %>
        <%= image_tag @recommendation.movie.image_url.gsub("..//assets/images/", ""), alt: "Poster", class: "img-fluid" %>
      <% else %>
        <%= image_tag @recommendation.movie.image_url.gsub("../assets/images/", ""), alt: "Poster", class: "img-fluid" %>
      <% end %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <strong>Recommandé par :</strong> <%= @recommendation.friend.capitalize %></li>
        <li class="list-group-item"> <strong>Mon commentaire :</strong> <%= @recommendation.comment %>  <%= link_to "- Modifier -", edit_recommendation_path, class:"text-decoration-none link-modify ms-2" %></li>
        <li class="list-group-item"> <strong>Ajouté le :</strong> <%= @recommendation.created_at.strftime("%d/%m/%Y") %></li>
      </ul>
        <%= simple_form_for @recommendation, method: :patch  do |f| %>
          <%= f.input :viewed, class: "input-button"  %>
          <%= f.submit "Sauvegarder", class: "" %>
        <% end %>
        <%= link_to "Regarder le film", recommendation_movies_search_path(@recommendation), class: "buttons text-decoration-none text-center" %>
    </div>
    <div class="d-flex justify-content-around my-4">
      <%= link_to "Retour", recommendations_path, class:"text-decoration-none buttons" %>
    </div>
  </div>
</div>
