<h2><%= @recommendation.movie.title %></h2>
<p>Réalisateur et casting : <%= @recommendation.movie.director %></p>
  <% if @recommendation.movie.image_url.start_with?("http") %>
    <%= image_tag @recommendation.movie.image_url, alt: "Poster", width: 200 %>
  <% elsif @recommendation.movie.image_url.start_with?("..//assets/images/") %>
    <%= image_tag @recommendation.movie.image_url.gsub("..//assets/images/", ""), alt: "Poster", width: 200 %>
  <% else %>
    <%= image_tag @recommendation.movie.image_url.gsub("../assets/images/", ""), alt: "Poster", width: 200 %>
  <% end %>
<p>recommended by : <%= @recommendation.friend %></p>
<p>recommendé le : <%= @recommendation.created_at.strftime("%d/%m/%Y") %></p>
<p>mon commentaire : <%= @recommendation.comment %></p>
<p>Voir en streaming : <%= @recommendation.movie.stream_options %></p>
