<div class="container">
  <div class="wrapper">
    <%@recommendations.select do |recommendation|%>
      <div class="movies-cards" style="max-width: 540px;">
        <%= link_to recommendation_path(recommendation), class:"text-decoration-none" do%>
          <div>
          <% if recommendation.movie.image_url.start_with?("http") %>
            <%= image_tag recommendation.movie.image_url, alt: "Poster", class: "img-fluid img-index" %>
          <% elsif recommendation.movie.image_url.start_with?("..//assets/images/") %>
            <%= image_tag recommendation.movie.image_url.gsub("..//assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
          <% else %>
            <%= image_tag recommendation.movie.image_url.gsub("../assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
          <% end %>
          </div>
          <div>
            <% if recommendation.feedback_rating != nil %>
              <% recommendation.feedback_rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            <% end %>
          </div>
          <div>
            <h5 class="movies-card-header"><%=recommendation.movie.title %></h5>
          </div>
          <div>
          <% if recommendation.friend != nil %>
            <p class="movies-card-text"><i class="fa-solid fa-user"></i>  <%=recommendation.friend%></p>
          <% end %>
          </div>
        <%end %>
      </div>
    <%end%>
  </div>
</div>
