<div class="container">
  <h1>Ma liste de films</h1>
  <%@recommendations.select do |recommendation| %>
  <div class="card shadow mb-5 bg-body" style="max-width: 540px;">
    <%= link_to recommendation_path(recommendation), class:"text-decoration-none" do%>
      <div class="cards g-0 d-flex">
        <div class="images-index">
        <% if recommendation.movie.image_url.start_with?("http") %>
          <%= image_tag recommendation.movie.image_url, alt: "Poster", class: "img-fluid img-index" %>
        <% elsif recommendation.movie.image_url.start_with?("..//assets/images/") %>
          <%= image_tag recommendation.movie.image_url.gsub("..//assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
         <% else %>
           <%= image_tag recommendation.movie.image_url.gsub("../assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
         <% end %>
          <%# <%= image_tag recommendation.movie.image_url, alt: "Poster", class: "img-fluid" %>
        </div>
        <div class="card-body card-body-index d-flex flex-column">
          <div>
            <h5 class="card-title"><%=recommendation.movie.title %></h5>
          </div>
          <div>
            <p class="card-text">Recommandé par: <%=recommendation.friend%></p>
          </div>
          <div>
            <p class="card-text">Ajouté le: <%=recommendation.created_at.strftime("%m/%d/%Y")%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%end%>
  <div class="d-flex justify-content-around my-4">
    <div>
      <%= link_to "Retour", root_path, class:"text-decoration-none buttons" %>
    </div>
    <div>
      <%= link_to "Films pas encore vus", recommendations_path, class:"text-decoration-none buttons" %>
    </div>
  </div>
</div>
