<div class="container">
  <div data-controller="search-books">
    <div class="search-target">
      <%= form_with url: new_bookrecom_path, method: :get, html: { data: { search_books_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: 'Entrez un titre de livre',
                        value: params[:query],
                        data: {
                            search_books_target: 'input',
                            action: 'keyup->search-books#update'
                          } %>
      <% end %>
      <%= render 'book_list', books: @books %>
    </div>
    <div data-action="pick-book@window->search-books#createbook form-reco">
      <%= simple_form_for @bookrecom do |f| %>
      <%= f.input :book_id, label: false, input_html: { class: "d-none", data: { search_books_target: 'book' }} %>
      <%= f.input :friend, label: "Ami" %>
      <%= f.input :comment, label: "Commentaire" %>
      <%= f.submit "Ajouter à ma list", class: "btn-submit" %>
      <% end %>
    </div>
  </div>
  <div class="my-4">
    </div>
  <%= render 'book_list', books: @books %>
</div>
