<div class="container">
  <div class="col-12 col-md-6">
    <div class="card card-show" style="width: 100%;">
      <% if current_user.id == params[:id].to_i %>
        <h1>Salut <%= current_user.nickname.capitalize %> !</h1>
        <h2>Mes listes :</h2>
        <% if @recommendations == [] && @bookrecoms == [] && @podcastrecoms == [] && @restaurantrecoms == [] %>
          <p>Vous n'avez pas encore de listes !</p>
        <% end %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to "Mes films", recommendations_path, class:"text-decoration-none link-modify"%></li>
          <li class="list-group-item"><%= link_to "Mes livres", bookrecoms_path, class:"text-decoration-none link-modify" %></li>
          <li class="list-group-item"><%= link_to "Mes podcasts", podcastrecoms_path, class:"text-decoration-none link-modify" %></li>
          <li class="list-group-item"><%= link_to "Mes restaus", restaurantrecoms_path, class:"text-decoration-none link-modify" %></li>
        </ul>
        <h2>Mes amis :</h2>
        <% if @friends == [] %>
          <p>Vous n'avez pas encore d'amis !</p>
        <% end %>
        <ul class="list-group list-group-flush">
          <% @friends.each do |friend| %>
          <% friend_user = User.where(nickname: friend).first %>
            <% if friend_user != nil %>
            <li class="list-group-item"> <%= friend_user.nickname.capitalize %> <%= link_to "- Voir profil -", user_path(friend_user), class:"text-decoration-none link-modify ms-2" %> </li>
            <% else %>
            <li class="list-group-item"> <%= Recommendation.where(friend: friend).first.friend %> (l'ami n'a pas l'app)</li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
          <h2>Les listes de <%= @user.nickname %> :</h2>
        <div class="py-2">
          <ul class="nav nav-tabs py-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link buttons rounded active" id="films-tab" data-bs-toggle="tab" data-bs-target="#films" type="button" role="tab" aria-controls="films" aria-selected="true">Films</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link buttons rounded" id="livres-tab" data-bs-toggle="tab" data-bs-target="#livres" type="button" role="tab" aria-controls="livres" aria-selected="false">Livres</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link buttons rounded" id="podcasts-tab" data-bs-toggle="tab" data-bs-target="#podcasts" type="button" role="tab" aria-controls="podcasts" aria-selected="false">Podcasts</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link buttons rounded" id="restaurants-tab" data-bs-toggle="tab" data-bs-target="#restaurants" type="button" role="tab" aria-controls="restaurants" aria-selected="false">Restaurants</button>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="films" role="tabpanel" aria-labelledby="films-tab">
            <%= render 'movies_recommendations' %>
          </div>
          <div class="tab-pane fade" id="livres" role="tabpanel" aria-labelledby="livres-tab">
            <%= render 'books_recommendations' %>
          </div>
          <div class="tab-pane fade" id="podcasts" role="tabpanel" aria-labelledby="podcasts-tab">
            <%= render 'podcasts_recommendations' %>
          </div>
          <div class="tab-pane fade" id="restaurants" role="tabpanel" aria-labelledby="restaurants-tab">
            <%= render 'restaurants_recommendations' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
