<div class="navbar-index sticky-top d-flex justify-content-between align-items-center px-1">
  <!-- condition to come back always to index page when in show --->
  <% if params[:controller] == 'recommendations' && params[:action] == 'show' %>
    <%= link_to recommendations_path, class:"text-decoration-none button-navigation me-1" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  <% else %>
    <%= link_to :back, class:"text-decoration-none button-navigation me-1" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  <% end %>
  <!-- changes header on sites --->
  <% if params[:controller] == 'recommendations' && params[:action] == 'index' %>
    <h2 class="titre-index me-auto m-0 mx-1">Tous mes Films</h2>
  <% elsif params[:controller] == 'recommendations' && params[:action] == 'show' %>
    <h2 class="titre-index me-auto m-0 mx-1">Details du film</h2>
  <% elsif params[:controller] == 'recommendations' && params[:action] == 'viewed' %>
    <h2 class="titre-index me-auto m-0 mx-1">Films vus</h2>
  <% elsif params[:controller] == 'recommendations' && params[:action] == 'searched' %>
    <h2 class="titre-index me-auto m-0 mx-1">Recherchés</h2>
  <% elsif params[:controller] == 'recommendations' && params[:action] == 'to_view' %>
    <h2 class="titre-index me-auto m-0 mx-1">Films à voir</h2>
  <% elsif params[:controller] == 'recommendations' && params[:action] == 'edit' %>
    <h2 class="titre-index me-auto m-0 mx-1">Edit</h2>
  <% elsif params[:controller] == 'users' && params[:action] == 'show' %>
    <h2 class="titre-index me-auto m-0 mx-1">Profil</h2>
  <% elsif params[:controller] == 'podcastrecoms' && params[:action] == 'index' %>
    <h2 class="titre-index me-auto m-0 mx-1">Tous mes Podcasts</h2>
  <% elsif params[:controller] == 'podcastrecoms' && params[:action] == 'show' %>
    <h2 class="titre-index me-auto m-0 mx-1">Details du podcast</h2>
  <% elsif params[:controller] == 'podcastrecoms' && params[:action] == 'viewed' %>
    <h2 class="titre-index me-auto m-0 mx-1">Podcasts écoutés</h2>
  <% elsif params[:controller] == 'podcastrecoms' && params[:action] == 'edit' %>
    <h2 class="titre-index me-auto m-0 mx-1">Edit</h2>
  <% elsif params[:controller] == 'bookrecoms' && params[:action] == 'index' %>
    <h2 class="titre-index me-auto m-0 mx-1">Tous mes Livres</h2>
  <% elsif params[:controller] == 'bookrecoms' && params[:action] == 'show' %>
    <h2 class="titre-index me-auto m-0 mx-1">Details du livre</h2>
  <% elsif params[:controller] == 'bookrecoms' && params[:action] == 'viewed' %>
    <h2 class="titre-index me-auto m-0 mx-1">Livres lus</h2>
  <% elsif params[:controller] == 'bookrecoms' && params[:action] == 'edit' %>
    <h2 class="titre-index me-auto m-0 mx-1">Edit</h2>
  <% elsif params[:controller] == 'restaurants' && params[:action] == 'index' %>
    <h2 class="titre-index me-auto m-0 mx-1">Tous mes Restaurants</h2>
  <% elsif params[:controller] == 'restaurants' && params[:action] == 'show' %>
    <h2 class="titre-index me-auto m-0 mx-1">Details du restaurant</h2>
  <% elsif params[:controller] == 'restaurants' && params[:action] == 'viewed' %>
    <h2 class="titre-index me-auto m-0 mx-1">Restaurants visités</h2>
  <% elsif params[:controller] == 'restaurants' && params[:action] == 'edit' %>
    <h2 class="titre-index me-auto m-0 mx-1">Edit</h2>
  <% end %>
  <!-- button home --->
  <%= link_to root_path, class:"text-decoration-none button-navigation mx-1" do %>
    <i class="fas fa-home py-2"></i>
  <% end %>
  <!-- dropdown menus --->
  <% if user_signed_in? %>
    <div class="dropdown">
      <i class="fa-solid fa-user text-decoration-none button-navigation mx-1 py-3"></i>
      <div class="dropdown-content">
        <%= link_to 'Mon profil',friend_show_path(current_user), class:"text-decoration-none button-navigation mx-1" %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"text-decoration-none button-navigation mx-1" %>
      </div>
    </div>
  <% else %>
    <%= link_to new_user_session_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fa-solid fa-user py-2"></i>
    <% end %>
  <% end %>
  <div class="dropdown">
    <i class="fa-solid fa-eye text-decoration-none button-navigation mx-1 py-3"></i>
    <div class="dropdown-content">
    <% if params[:controller] == 'recommendations'%>
      <%= link_to 'À voir', to_view_recommendations_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Film vus', viewed_recommendations_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Tous mes films', recommendations_path, class:"text-decoration-none button-navigation mx-1" %>
    <% elsif params[:controller] == 'podcastrecoms'%>
      <%= link_to 'Podcast à écouter', to_view_podcastrecoms_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Podcast écoutés', viewed_podcastrecoms_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Tous mes podcasts', podcastrecoms_path, class:"text-decoration-none button-navigation mx-1" %>
    <% elsif params[:controller] == 'bookrecoms'%>
      <%= link_to 'Livres lus', viewed_bookrecoms_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Tous mes livres', bookrecoms_path, class:"text-decoration-none button-navigation mx-1" %>
    <% elsif params[:controller] == 'restaurants'%>
      <%= link_to 'Restaurant visités', viewed_restaurants_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Tous mes restaurants', restaurants_path, class:"text-decoration-none button-navigation mx-1" %>
    <%end%>
    </div>
  </div>
  <div class="dropdown">
    <i class="fas fa-plus text-decoration-none button-navigation mx-1 py-3"></i>
    <div class="dropdown-content">
      <%= link_to 'Film', new_recommendation_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Livre', new_bookrecom_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Podcast', new_podcastrecom_path, class:"text-decoration-none button-navigation mx-1" %>
      <%= link_to 'Restaurant', new_restaurant_path, class:"text-decoration-none button-navigation mx-1" %>
    </div>
  </div>
</div>
