<div class="navbar-index sticky-top d-flex justify-content-between align-items-center px-1">
    <%= link_to :back, class:"text-decoration-none button-navigation me-1" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <% if params[:controller] == 'recommendations' && params[:action] == 'index' %>
      <h2 class="titre-index me-auto m-0 mx-1">Tous mes Films</h2>
    <% elsif params[:controller] == 'recommendations' && params[:action] == 'show' %>
      <h2 class="titre-index me-auto m-0 mx-1">Details du film</h2>
    <% elsif params[:controller] == 'recommendations' && params[:action] == 'viewed' %>
      <h2 class="titre-index me-auto m-0 mx-1">Films vus</h2>
    <% elsif params[:controller] == 'recommendations' && params[:action] == 'searched' %>
      <h2 class="titre-index me-auto m-0 mx-1">Recherchés</h2>
    <% elsif params[:controller] == 'users' && params[:action] == 'show' %>
      <h2 class="titre-index me-auto m-0 mx-1">Profil</h2>
    <% end %>
    <%= link_to root_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to root_path, class:"text-decoration-none button-navigation mx-1" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <div class="dropdown" style="">
      <i class="fa-solid fa-eye text-decoration-none button-navigation mx-1"></i>
      <div class="dropdown-content" style="lefy:0;">
        <%= link_to 'Recherchés', searched_recommendations_path, class:"text-decoration-none button-navigation mx-1" %>
        <%= link_to 'Film vus', viewed_recommendations_path, class:"text-decoration-none button-navigation mx-1" %>
      </div>
    </div>
    <div class="dropdown" style="">
      <i class="fas fa-plus text-decoration-none button-navigation mx-1"></i>
      <div class="dropdown-content" style="lefy:0;">
        <p>Ajouter une reco:</p>
        <%= link_to 'Film', new_recommendation_path, class:"text-decoration-none button-navigation mx-1" %>
        <%= link_to 'Livre', root_path, class:"text-decoration-none button-navigation mx-1" %>
        <%= link_to 'Podcast', root_path, class:"text-decoration-none button-navigation mx-1" %>
        <%= link_to 'Restaurant', root_path, class:"text-decoration-none button-navigation mx-1" %>
      </div>
    </div>
  </div>
