<div class="home">
  <%= render 'shared/banner' %>
  <div class="container fill-height">
    <div class="row">
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons film">
          <%= link_to recommendations_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-film">
              <p><i class="fas fa-film icon"></i></p>
            </div>
            <div class="header-icon">
              <h4>Films</h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons book">
          <%= link_to bookrecoms_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-book">
              <p><i class="fas fa-book icon"></i></p>
            </div>
            <div class="header-icon">
              <h4>Livres</h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons podcast">
          <%= link_to podcastrecoms_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-podcast">
              <p><i class="fas fa-podcast icon"></i></p>
            </div>
            <div class="header-icon">
            <h4>Podcasts</h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons restaurant">
          <%= link_to restaurants_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-restaurant">
              <p><i class="fas fa-utensils icon"></i></p>
            </div>
            <div class="header-icon">
              <h4>Restaurants</h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
