<div class="home">
  <%= render 'shared/banner' %>
  <div class="container fill-height">
    <div class="row">
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons film">
          <%#= link_to recommendations_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-film">
              <div class="dropdown">
                <p class="dropbtn"><i class="fas fa-film icon"></i></p>
                <div class="dropdown-content">
                  <div>
                    <%= link_to "Voir", recommendations_path, class: "link-icons text-decoration-none" %>
                  </div>
                  <div>
                    <%= link_to "Ajouté", new_recommendation_path, class: "link-icons text-decoration-none" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-icon">
              <h4>Films</h4>
            </div>
          <%# end %>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons book">
          <%#= link_to recommendations_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-book">
              <div class="dropdown">
                <p class="dropbtn"><i class="fas fa-book icon"></i></p>
                <div class="dropdown-content">
                  <%= link_to "Voir", bookrecoms_path, class: "link-icons text-decoration-none" %>
                  <%= link_to "Ajouté", bookrecoms_path, class: "link-icons text-decoration-none" %>
                </div>
              </div>
            </div>
            <div class="header-icon">
              <h4>Livres</h4>
            </div>
          <%# end %>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons podcast">
          <%#= link_to recommendations_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-podcast">
              <div class="dropdown">
                <p class="dropbtn"><i class="fas fa-podcast icon"></i></p>
                <div class="dropdown-content">
                  <%= link_to "Voir", recommendations_path, class: "link-icons text-decoration-none" %>
                  <%= link_to "Ajouté", recommendations_path, class: "link-icons text-decoration-none" %>
                </div>
              </div>
            </div>
            <div class="header-icon">
            <h4>Podcasts</h4>
            </div>
          <%# end %>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="icons restaurant">
          <%#= link_to recommendations_path, class: "link-icons text-decoration-none" do %>
            <div class="icon-restaurant">
              <div class="dropdown">
                <p class="dropbtn"><i class="fas fa-utensils icon"></i></p>
                <div class="dropdown-content">
                  <%= link_to "Voir", recommendations_path, class: "link-icons text-decoration-none" %>
                  <%= link_to "Ajouté", new_recommendation_path, class: "link-icons text-decoration-none" %>
                </div>
              </div>
            </div>
            <div class="header-icon">
              <h4>Restaurants</h4>
            </div>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>
