<div class="container">
  <h1>Restaurants à tester</h1>
  <%@restaurantrecoms.select do |restaurantrecom| if restaurantrecom.viewed != true%>
  <div class="card shadow mb-5 bg-body" style="max-width: 540px;">
    <%= link_to restaurantrecom_path(restaurantrecom), class:"text-decoration-none" do%>
      <div class="cards g-0 d-flex">
        <div class="card-body card-body-index d-flex flex-column">
          <div>
            <h5 class="card-title"><%=restaurantrecom.restaurant.title %></h5>
          </div>
          <div>
            <p class="card-text">Recommandé par: <%=restaurantrecom.friend%></p>
          </div>
          <div>
            <p class="card-text">Recommandé par: <%=restaurantrecom.comment%></p>
          </div>
          <div>
            <p class="card-text">Ajouté le: <%=restaurantrecom.created_at.strftime("%d/%m/%Y")%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%end%>
  <%end%>
  <div class="d-flex justify-content-around my-4">
    <div>
      <%= link_to "Retour", root_path, class:"text-decoration-none buttons" %>
    </div>
    <div>
      <%= link_to "Ajoutez un restaurant", restaurants_path, class:"text-decoration-none buttons" %>
    </div>
    <div>
      <%= link_to "Restaurants déjà visités", viewed_restaurantrecoms_path, class:"text-decoration-none buttons" %>
    </div>
  </div>
</div>
