<div class="container-fluid p-0">
  <div class="col-12 col-md-6">
    <div class="card card-show" style="width: 100%;">
      <h2><%= @restaurantrecom.restaurant.title %></h2>
      <h3><%=@restaurantrecom.restaurant.address%></h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <strong>Recommandé par :</strong> <%= @restaurantrecom.friend.capitalize %></li>
        <li class="list-group-item"> <strong>Mon commentaire :</strong> <%= @restaurantrecom.comment %></li>
        <li class="list-group-item"> <strong>Ajouté le :</strong> <%= @restaurantrecom.created_at.strftime("%d/%m/%Y") %></li>
      </ul>
      <div class="card-body card-body-show">
        <p><strong>Regardez sur :</strong></p>
        <%= link_to "Google", restaurantrecom_restaurants_search_path(@restaurantrecom), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="d-flex justify-content-around my-4">
      <div>
        <%= link_to "Retour", restaurantrecoms_path, class:"text-decoration-none buttons" %>
      </div>
      <div>
        <%= link_to edit_restaurantrecom_path, class:"text-decoration-none buttons" %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </div>
    </div>
  </div> <%= simple_form_for @restaurantrecom, method: :patch  do |f| %>
    <%= f.input :viewed  %>
    <%= f.submit%>
    <% end %>
</div>
