<div class="container">
    <div>
      <%= simple_form_for @restaurant do |f| %>
      <%= f.input :title, label: false, placeholder: "Entrez le nom d'un restaurant" %>
      <%= f.input :address, label: "Adresse" %>
      <%= f.input :friend, label: "Ami" %>
      <%= f.input :comment, label: "Commentaire"%>
      <%= f.submit "Ajouter à ma list", class: "btn-submit" %>
      <% end %>
    </div>
  </div>
  <div class="my-4">
  </div>
</div>
