<div class="container">
  <h1>Podcasts à écouter</h1>
  <%@podcastrecoms.select do |podcastrecom| if podcastrecom.viewed != true%>
  <div class="card shadow mb-5 bg-body" style="max-width: 540px;">
    <%= link_to podcastrecom_path(podcastrecom), class:"text-decoration-none" do%>
      <div class="cards g-0 d-flex">
        <div class="card-body card-body-index d-flex flex-column">
          <div>
            <h5 class="card-title"><%=podcastrecom.podcast.title %></h5>
          </div>
          <div>
            <p class="card-text">Recommandé par: <%=podcastrecom.friend%></p>
          </div>
          <div>
            <p class="card-text">Recommandé par: <%=podcastrecom.comment%></p>
          </div>
          <div>
            <p class="card-text">Ajouté le: <%=podcastrecom.created_at.strftime("%d/%m/%Y")%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%end%>
  <%end%>
  <div class="d-flex justify-content-around my-4">
    <div>
      <%= link_to "Retour", root_path, class:"text-decoration-none buttons" %>
    </div>
    <div>
      <%= link_to "Ajoutez un podcast", new_podcastrecom_path, class:"text-decoration-none buttons" %>
    </div>
    <div>
      <%= link_to "Podcasts déjà écoutés", viewed_podcastrecoms_path, class:"text-decoration-none buttons" %>
    </div>
  </div>
</div>
