<div class="container">
  <div data-controller="search-podcasts">
    <div class="search-target">
      <%= form_with url: new_podcastrecom_path, method: :get, html: { data: { search_podcasts_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: 'Entrez un titre de podcast',
                        value: params[:query],
                        data: {
                            search_podcasts_target: 'input',
                            action: 'keyup->search-podcasts#update'
                          } %>
      <% end %>
      <%= render 'podcast_list', podcasts: @podcasts %>
    </div>
    <div data-action="pick-podcast@window->search-podcasts#createpodcast form-reco">
      <%= simple_form_for @podcastrecom do |f| %>
      <%= f.input :podcast_id, label: false, input_html: { class: "d-none", data: { search_podcasts_target: 'podcast' }} %>
      <%= f.input :friend, label: "Ami" %>
      <%= f.input :comment, label: "Commentaire" %>
      <%= f.submit "Ajouter à ma list", class: "btn-submit" %>
      <% end %>
    </div>
  </div>
  <div class="my-4">
  </div>
  <%= render 'podcast_list', podcasts: @podcasts %>
</div>
