<div class="container">
  <div class="wrapper">
    <%@podcastrecoms.select do |podcastrecom|%>
      <div class="movies-cards" style="max-width: 540px;">
        <%= link_to podcastrecom_path(podcastrecom), class:"text-decoration-none" do%>
          <div class="movies-image-card">
          <% if podcastrecom.podcast.image_url.start_with?("http") %>
            <%= image_tag podcastrecom.podcats.image_url, alt: "Poster", class: "img-fluid img-index" %>
          <% elsif podcastrecom.podcast.image_url.start_with?("..//assets/images/") %>
            <%= image_tag podcastrecom.podcast.image_url.gsub("..//assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
          <% else %>
            <%= image_tag podcastrecom.podcast.image_url.gsub("../assets/images/", ""), alt: "Poster", class: "img-fluid img-index" %>
          <% end %>
          </div>
          <div>
            <% if podcastrecom.feedback_rating != nil %>
              <% podcastrecom.feedback_rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            <% end %>
          </div>
          <div>
            <h5 class="movies-card-text movies-card-header"><%=podcastrecom.podcast.title %></h5>
          </div>
          <div>
          <% if podcastrecom.friend != nil %>
            <p class="movies-card-text"><i class="fa-solid fa-user"></i>  <%=podcastrecom.friend%></p>
          <% end %>
          </div>
        <%end %>
      </div>
    <%end%>
  </div>
</div>
